@using LibraryManagementSystem.Core.Models.Home;
@model IEnumerable<BookIndexServiceModel>

@{
    ViewData["Title"] = "Home Page";
    var books = Model.ToList();
}

@if (!books.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to the best place for loaning books!</h1>
        <p class="lead">
            There are no books in the system currently available.
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="Book" asp-action="Add" class="btn btn-primary btn-lg"
                   role="button">Add Book</a>
            }
        </p>
    </div>
}

<div class="mb-5"></div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < books.Count(); i++)
        {
            var book = books[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <div class="d-flex justify-content-center">
                    <img class="d-block w-49" style="height:550px"
                         src="@book.ImageUrl" alt="@book.Title">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <a class="btn btn-primary" asp-controller="Book" asp-action="Details"
                       asp-route-id="@book.Id">@book.Title</a>
                    </h5>
                </div>
            </div>

        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
