@model BookDetailsServiceModel

@{
	ViewBag.Title = "Book Details";
}

<h2 class="text-center">@ViewBag.Title</h2>

<hr />

<div class="container" style="display:inline">
	<div class="row"> 
		<div class="col-4">
			<img class="card-img-top" style="width: 20rem;" src="@Model.ImageUrl" alt="Book Image"> 
			</div> 
			<div class="card col-8 border-0"> 
				<p style="font-size:25px;"><u>@Model.Title</u></p> 
				<p>Genre: <b>@Model.Genre</b></p>
				<p>Author: <b>@Model.Author</b></p>
				<p>ISBN: <b>@Model.ISBN</b></p>
				<p>Published on: <b>@Model.DatePublished</b></p>
				<p><i>(@(Model.IsLoaned ? "Loaned" : "Not Loaned"))</i></p> 
					<div class="form-inline"> 
						@if (this.User.Identity.IsAuthenticated)
						{
							<a asp-controller="Review" asp-action="All" asp-route-id="@Model.Id" class="btn btn-success"> Reviews</a>
						}
						else if (User.Identity.Name == Model.Librarian.Name)
						{
							<a class="btn btn-warning" asp-controller="Book" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
							<a class="ml-2 btn btn-danger" asp-controller="Book" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
						}
						else if (!Model.IsLoaned)
						{
							<a asp-controller="Review" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-primary">Add Review</a>
							<form class="ml-2" asp-controller="Book" asp-action="Loan" asp-route-id="@Model.Id" method="post"> <input class="btn btn-primary" type="submit" value="Loan" /> </form>
						}
						else
						{
							<form class="ml-2" asp-controller="Book" asp-action="Return" asp-route-id="@Model.Id" method="post"> <input class="btn btn-primary" type="submit" value="Return" /> </form>
							<form class="ml-2" asp-controller="Reservation" asp-action="Add" asp-route-id="@Model.Id" method="post"> <input class="btn btn-primary" type="submit" value="Reserve" /> </form>
						} 
				
					</div> 
					<p></p> 
					<div class="card" style="width: 18rem;"> 
						<div class="card-body"> 
							<h5 class="card-title">Librarian Info</h5> 
							<p class="card-text">Email: @Model.Librarian.Email</p> 
							<p class="card-text">Phone Number: @Model.Librarian.PhoneNumber</p> 
						</div> 
					</div> 
			</div> 
	</div>

</div>
