@model IEnumerable<BookServiceModel>

@{
	ViewBag.Title = "My Books";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!Model.Any())
{
	<h2 class="text-center">You have no books yet!</h2>
}

<div class="row">
	@foreach (var book in Model)
	{
		<div class="col-md-4">

			<div class="card mb-3">
				<img class="card-img-top" src="@book.ImageUrl" alt="Book Image">
				<div class="card-body text-center">
					<h4>@book.Title</h4>
					<h6>Author: <b>@book.Author</b></h6>
					<h6>ISBN: <b>@book.ISBN</b></h6>
					<h6>(@(book.IsLoaned ? "Loaned" : "Not Loaned"))</h6>
					<br />
				</div>
			</div>
		</div>
	}
</div>